@font-face {
    font-family: "Aeonik-bold";
    src: url('./assets/fonts/AeonikTRIAL-Bold.otf') format('otf');
}

@font-face {
    font-family: "Aeonik-regular";
    src: url('./assets/fonts/AeonikTRIAL-Regular.otf') format('otf');
}

@font-face {
    font-family: "Aeonik-light";
    src: url('./assets/fonts/AeonikTRIAL-Light.otf') format('otf');
}

/* -------------- */
/* Picalili Reset */
/* -------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* -------------- */
/* Globals */
/* -------------- */

:root {
    --primary: #370064;
    --secondary: #2F2F2F;
    --accent: #FFFFFF;

    --ffB: 'Aeonik-bold';
    --ffR: 'Aeonik-regular';
    --ffL: 'Aeonik-light';
}

body {
    font-family: var(--ffR);
    background: url(./assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.container {
    max-width: 1080px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.btn {
    border: none;
    background-color: var(--primary);
    color: var(--accent);
    padding: .5em 1.5em;
    box-shadow: 0px 4px 4px rgba(192, 192, 192, 0.25);
    border-radius: 8px;
    font-family: var(--ffB);
    font-weight: 700;
}

/* -------------- */
/* Home */
/* -------------- */

header {
    min-height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 8rem;
}

header a {
    width: 152px;
}

main {
    justify-content: space-between;
}

.text {
    flex-basis: 40%;
    margin-block-start: 3.5rem;
}

.text>*+* {
    margin-block-start: 2rem;
}

.text h1 {
    font-family: var(--ffB);
    font-size: 3.2rem;
    color: var(--primary);
    font-weight: 900;
}

.text p {
    font-size: 1.2rem;
}

.memojis {
    flex-basis: 55%;
}

/* -------------- */
/* Mobile Responsiveness */
/* -------------- */

@media (max-width: 500px) {

    .container {
        max-width: 380px;
        margin-inline: auto;
    }

    body {
        text-align: center;
    }

    header {
        padding: 0;
        justify-content: flex-end;
    }

    header.flex {
        flex-direction: column;
    }

    header .logo {
        width: 180px;
    }

    header button {
        visibility: hidden;
    }

    /* main {
        margin: -3rem;
    } */

    main.flex {
        flex-direction: column;
    }

    main .text {
        justify-content: flex-start;
    }

    main button {
        margin-block-end: 3rem;
    }
}